<!DOCTYPE html>
<html>
<head>
  <title>Rails Keycloak Authorization</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags "application", importmap: RailsKeycloakAuthorization.importmap %>
  <script src="https://cdn.tailwindcss.com"></script>
  <%= stylesheet_link_tag "rails_keycloak_authorization/application", media: "all" %>
  <script type="module"> import "htmx.org" </script>
</head>
<body hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'>
  <%= yield %>
</body>
</html>
