<% if @permissions.empty? %>
  <div>No permissions created yet!</div>
<% end %>

<% @permissions.each do |permission| %>
  <div>name:</div>
  <div><%= permission.name %></div>
  <div>type:</div>
  <div><%= permission.type %></div>
<% end %>


<form hx-post="<%= permissions_path %>">
  <div>
    <label for="keycloak_policy_id">Policy</label>
    <select name="keycloak_policy_id" hx-indicator=".htmx-indicator">
      <option value="" selected disabled>Select Policy</option>
      <% @policies.map do |policy| %>
        <option value="<%= policy.id %>"><%= policy.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    <label for="keycloak_resource_id">Resource</label>
    <select name="keycloak_resource_id"
            hx-get="<%= resource_scopes_select_permissions_path %>"
            hx-target="#scopes"
            hx-indicator=".htmx-indicator">
      <option value="" selected disabled>Select Resource</option>
      <% @resources.map do |resource| %>
        <option value="<%= resource.id %>"><%= resource.name %></option>
      <% end %>
    </select>
  </div>

  <div id="scopes"></div>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded"
    type="submit">Create</button>
</form>
